<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Esprit Sportif</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('./assets/fonts/icomoon/style.css') }}">
    <link rel="stylesheet" href="{{ asset('./assets/css/bootstrap/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('./assets/css/jquery-ui.css')}}">
    <link rel="stylesheet" href="{{ asset('./assets/css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{ asset('./assets/css/owl.theme.default.min.css')}}">
    <link rel="stylesheet" href="{{ asset('./assets/css/owl.theme.default.min.css')}}">
    <link rel="stylesheet" href="{{ asset('./assets/css/jquery.fancybox.min.csscss/jquery.fancybox.min.css')}}">
    <link rel="stylesheet" href="{{ asset('./assets/css/bootstrap-datepicker.css')}}">
    <link rel="stylesheet" href="{{ asset('./assets/fonts/flaticon/font/flaticon.css')}}">
    <link rel="stylesheet" href="{{ asset('./assets/css/aos.css')}}">
    <link rel="stylesheet" href="{{ asset('./assets/css/style.css')}}">
</head>

<body>
<div class="site-wrap">
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>
    <header class="site-navbar py-4" role="banner">
        <div class="container">
            <div class="d-flex align-items-center">
                <div class="site-logo">
                    <a href="{{ path('index') }}#"><br>
                        <h1 class="text-white">CODE D118</h1>
                    </a>
                </div>
                <div class="ml-auto">
                    <nav class="site-navigation position-relative text-right" role="navigation">
                        <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                            <li class="active"><a href="{{ path('index') }}" class="nav-link">Accueil</a></li>
                            <li><a href="https://cutt.ly/OjksHoJ" class="nav-link">S'inscrire</a></li>
                            <li><a href="{{ path('index') }}#offre" class="nav-link">Offres</a></li>
                            <li><a href="{{ path('index') }}#promo" class="nav-link">Promotion</a></li>
                            <li><a href="{{ path('index') }}#création" class="nav-link">Création</a></li>
                            <li><a href="{{ path('index') }}#conseils" class="nav-link">Conseils</a></li>
                        </ul>
                    </nav>
                    <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right text-white">
                        <span class="icon-menu h3 text-white"></span></a>
                </div>
            </div>
        </div>
    </header>
    <div class="hero overlay" style="background-image: url('{{ asset('./assets/images/bg_3.jpg') }}');">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 ml-auto">
                    <br><br><br><br>
                    <p>Créer un nouveau compte 1xbet avec le CODE PROMO D118.</p>
                    <p>Voici pourquoi il est important de s'inscrire sur 1xbet avec le code promo officiel unique du continent africain
                        <a href="">D118</a>.</p>
                    <p>Vous avez la possibilité de parier sur tous les sports.</p>
                    <p>Les cotes sont les plus élévées, les moyens de dépots et des retraits sont disponibles dans tous les pays du monde.</p>
                    <p>Il offre un bonus de 200% au premier dépot.</p><br>
                    <p><a href="https://cutt.ly/OjksHoJ" class="btn btn-primary py-3 px-4 mr-3">S'inscrire</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="latest-news" id="offre">
        <div class="container">
            <div class="row">
                <div class="col-12 title-section">
                    <div class="row">
                        <div class="col-12 title-section">
                            <h2 class="heading"><a href="#">🆘OFFRE SPÉCIALE 🆘</a> <br><br></h2>
                        </div>
                    </div>
                    <p style="color: white">

                        SALUT LA TEAM ! CECI EST UNE GROSSE OPPORTUNITÉ POUR VOUS. SPÉCIALEMENT POUR LES PARIEURS D'AFRIQUE CENTRALE.
                        <br><br>
                        JE VOUS EXPLIQUE : <br><br>
                        COMME SOUVENT LES OPÉRATEURS DE TÉLÉPHONIE DÉRANGE ONT DES PROBLEMES POUR LES DÉPÔTS ET LES RETRAITS. 1XBET A DONT MIS SUR PIEDS UNE RECHARGE ÉLECTRONIQUE POUR PALLIER À LA SITUATION.  TU M'ENVOI JUSTE TON IDENTIFIANT (ID) ET JE TE FAIT LA RECHARGE.
                        ON N'APPELLE ÇA LA RECHARGE LIQUIDE. <br><br>

                        <a href="#">NB:</a>  MÊME CEUX QUI N'ONT PAS DE COMPTE POUR LES DÉPÔTS OU RETRAITS, PEUVENT DÉJÀ JOUER À 1XBET.
                        <a href="https://wa.me/237655572635">Contacter nous !</a>
                        <br><br>

                        POUR RAPPEL IL Y A PAS DE FRAIS DE DÉPÔT. PAR EXEMPLE, SI TU VEUX 2000 XAF ,TU ME FAIS UN TRANSFERT DE 2000 XAF ET JE T'ENVOIE 2000 XAF DANS TON COMPTE 1xbet.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" id="promo">
            <div class="col-lg-12">
                <div class="hero overlay" style="background-image: url('{{ asset('./assets/images/promo_7.jpg') }}');">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-5 mx-auto text-center">
                                <h1 class="text-white">Promotion</h1>
                                <p>Faites votre <a href="https://refpa1282225.top/L?tag=d_639887m_1599c_&site=639887&ad=1599">inscription complète</a> avec le code promo <a href="#">D118</a> pour :</p>
                                <p>Profiter du bonus jusqu'à 65 000 XAF au premier dépot et chaque vendredi.</p>
                                <p>Des cadeaux d'anniversaire et pleines d'autres surprises en stock après votre inscription.</p>
                                <h1>Que faire?</h1>
                                <p>Appuyez sur <a href="#">s'inscrire.</a></p>
                                <p>Cliquez sur Inscription en haut à droite une fois la page ouverte.</p>
                                <p>Introduisez le code promo <a href="#">D118</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="latest-news" id="création">
        <div class="container">
            <div class="row">
                <div class="col-12 title-section">
                    <h2 class="heading">Création d'un compte et activation du bonus</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 title-section">
                    <iframe class="col-12 title-section" height="400" src="{{ asset('./assets/videos/vpromo_1.mp4') }}"  frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="latest-news">
        <div class="container">
            <div class="row">
                <div class="col-12 title-section">
                    <div class="row">
                        <div class="col-12 title-section">
                            <h2 class="heading"><a href="#">🆘Avis aux Nouveaux🆘</a> <br><br></h2>
                        </div>
                    </div>
                    <p style="color: white">
                                    Ceux qui n'ont pas encore de compte 1xbet Bonus créé avec le <a href="#">code promo D118</a>. <br>
                                    <br>
                                    C'est le moment de t'inscrire avec ce  code promo officiel de 1xbet. le bonus est crédité directement sur ton compte jusqu'à 130€ soit 65000F pour ton premier dépôt.
                                    <br><br>
                                    <a href="#">D118</a> c'est ça le code promo officiel d'inscription. <br><br>
                                    Cliquer ici pour télécharger 👉👉 <a href="https://cutt.ly/OjksHoJ">l'application 1xbet</a>
                                    <br><br>
                                    Cliquez ici pour aller sur le 👉👉 <a href="http://refpa578762.top/L?tag=d_639887m_2365c_&site=639887&ad=2365">Site 1xbet</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="latest-news">
        <div class="container">
            <div class="row">
                <div class="col-12 title-section">
                    <h2 class="heading">Création d'un Compte en Images</h2>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-md-4 col-lg-3">
                    <div class="post-entry">
                        <a href="#">
                            <img src="{{ asset('./assets/images/promo_10.jpg') }} " alt="Image" class="img-fluid">
                        </a>
                        <div class="caption">
                            <div class="caption-inner">
                                <h3 class="mb-3">Etape 1:</h3>
                                <div class="author d-flex align-items-center">
                                    <div class="text">
                                        <span style="color:white">Pour reçevoir tes bonus, cliques sur déconnecter juste où la flèche te montrer.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"> </div>
                <div class="col-md-4 col-lg-3">
                    <div class="post-entry">
                        <a href="#">
                            <img src="{{ asset('./assets/images/promo_11.jpg') }} " alt="Image" class="img-fluid">
                        </a>
                        <div class="caption">
                            <div class="caption-inner">
                                <h3 class="mb-3">Etape 2:</h3>
                                <div class="author d-flex align-items-center">
                                    <div class="text">
                                        <span style="color:white">Cliquer sur "inscription".</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"> </div>
                <div class="col-md-4 col-lg-3">
                    <div class="post-entry">
                        <a href="#">
                            <img src="{{ asset('./assets/images/promo_12.jpg') }} " alt="Image" class="img-fluid">
                        </a>
                        <div class="caption">
                            <div class="caption-inner">
                                <h3 class="mb-3">Etape 3:</h3>
                                <div class="author d-flex align-items-center">
                                    <div class="text">
                                        <span style="color:white">Cliquer sur "complet" ou "full" (en anglais)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br>
            <div class="row no-gutters">
                <div class="col-md-4 col-lg-3">
                    <div class="post-entry">
                        <a href="#">
                            <img src="{{ asset('./assets/images/promo_13.jpg') }} " alt="Image" class="img-fluid">
                        </a>
                        <div class="caption">
                            <div class="caption-inner">
                                <h3 class="mb-3">Etape 4:</h3>
                                <div class="author d-flex align-items-center">
                                    <div class="text">
                                        <span style="color:white">Mettre votre numéro. Ce numéro ne doit jamais avoir précédemment été utilisé sur 1xbet pour pouvoir bénéficier des b et surtout bien écrit le code promo (D118)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"> </div>
                <div class="col-md-4 col-lg-3">
                    <div class="post-entry">
                        <a href="#">
                            <img src="{{ asset('./assets/images/promo_14.jpg') }} " alt="Image" class="img-fluid">
                        </a>
                        <div class="caption">
                            <div class="caption-inner">
                                <h3 class="mb-3">Etape 5:</h3>
                                <div class="author d-flex align-items-center">
                                    <div class="text">
                                        <span style="color:white">Pour reçevoir ce type de bonus il faut bien écrit le code promo D118</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <p style="color: white">
                Quand tu finis de créer tu éffectues le dépôt et reçois des bonus et le dépôt bonus c'est-à-dire de bienvenue commence à partir de 1000 xaf jusqu'à 65000 xaf.
                <br><br>Par exemple, tu fais le dépôt de 20000 xaf tu reçois 20000 xaf de bonus sports et 20000 xaf de bonus xgame.
                <br><br>De plus 1xbet donne le bonus le lundi , mercredi et vendredi. Que du bonheur!!! ❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️
            </p>
        </div>
    </div>

    <div class="latest-news" id="conseils">
        <div class="container">
            <div class="row">
                <div class="col-12 title-section">
                    <div class="row">
                        <div class="col-12 title-section">
                            <h2 class="heading"><a href="#">⭐️⭐️CONSEILS DE JEU  ⭐️⭐️</a> <br><br></h2>
                        </div>
                    </div>
                    <p style="color: white">
                        🗣 Il y a plusieurs catégories de joueurs, ceux qui misent gros d'un coup, "ça passe ou ça casse". Ceux qui misent de petites sommes et font de long ticket si bien qu'il y a toujours un match qui vient grillé à la fin 🤦‍♂ et enfin ceux qui jouent des matchs pas long: 2, 4 ou 6 et misent peu. Ça se sont des parieurs techniques et prudents. 👮‍♂ Je vous conseille pour toujours avoir un bankrol la dernière méthode.

                        <br><br> 🗣Imaginons que votre bankrol (compte de jeu) est de 2000 xaf et vous jouez des tickets de 2 ou 4 matchs avec des cotes de 2. Si vous validez 200 xaf sur une cote de 4 vous gagnez 800 xaf.😄

                        <br><br> 🗣 Maintenant avec votre bankrol de 2000 xaf faites au moins 10 petits coupon de 200 xaf. Au cas où les 10 passent cela vous donnera 8.000 xaf et vous aurez un benéfice de 6000 xaf.

                        <br><br> 🗣 Entre temps s'il y a des pertes et que vous réussissez à avoir au moins 5 coupons gagnants, vous gagnez 4000 xaf pour un bénéfice de 2000 xaf.🙈

                        <br><br> 🗣 Vous voyez comme il est facile d'investir avec 2000frs au départ.

                        <br><br> 🗣 Avec cette méthode, vous aurez toujours une bankrol garnie et toujours de quoi jouer.

                        <br><br> Si vous avez suffisamment de moyens financier alors joué comme vous voulez.💰💰💰💰

                        <br><br>🗣 Faites de bonnes combinaisons avec les jeux qui vous sont proposés ici.💵💵💵

                        <br><br> 🗣 Dans un groupe c'est pas juste des pronostiques. Il faut aussi des conseils de jeu et n'oubliez surtout pas que le Sûr n'est jamais Sûr.👌
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="latest-news">
        <div class="container">
            <div class="row">
                <div class="col-12 title-section">
                    <h2 class="heading">Informations réçentes</h2>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-md-3">
                    <div class="post-entry">
                        <a href="#">
                            <img src="{{ asset('./assets/images/promo_8.jpg') }} " alt="Image" class="img-fluid">
                        </a>
                        <div class="caption">
                            <div class="caption-inner">
                                <h3 class="mb-3">Contact</h3>
                                <div class="author d-flex align-items-center">
                                    <div class="img mb-2 mr-3">
                                        <img src="{{ asset('./assets/images/person_1.jpg') }} " alt="">
                                    </div>
                                    <div class="text">
                                        <h4>D118</h4>
                                        <span style="color:white">September 11, 2021 &bullet; 1xbet</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"> </div>
                <div class="col-md-3">
                    <div class="post-entry">
                        <a href="#">
                            <img src="{{ asset('./assets/images/promo_9.jpg') }} " alt="Image" class="img-fluid">
                        </a>
                        <div class="caption">
                            <div class="caption-inner">
                                <h3 class="mb-3">Comptes</h3>
                                <div class="author d-flex align-items-center">
                                    <div class="img mb-2 mr-3">
                                        <img src="{{ asset('./assets/images/person_1.jpg') }} " alt="">
                                    </div>
                                    <div class="text">
                                        <h4>D118</h4>
                                        <span style="color:white">September 11, 2021 &bullet; 1xbet</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"> </div>
                <div class="col-md-3">
                    <div class="post-entry">
                        <a href="#">
                            <img src="{{ asset('./assets/images/promo_5.jpg') }} " alt="Image" class="img-fluid">
                        </a>
                        <div class="caption">
                            <div class="caption-inner">
                                <h3 class="mb-3">Affiche</h3>
                                <div class="author d-flex align-items-center">
                                    <div class="img mb-2 mr-3">
                                        <img src="{{ asset('./assets/images/person_1.jpg') }} " alt="">
                                    </div>
                                    <div class="text">
                                        <h4>D118</h4>
                                        <span style="color:white">September 11, 2021 &bullet; 1xbet</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"> </div>
            </div>

        </div>
    </div>
    <!-- .site-section -->
    <div class="latest-news">
        <div class="container">
            <div class="row">
                <div class="col-12 title-section">
                    <div class="row">
                        <div class="col-12 title-section">
                            <h2 class="heading"><a href="#">❗️❗️ INFORMATION TRÈS TRÈS IMPORTANTE POUR TOUS ❗️❗️</a> <br><br></h2>
                        </div>
                    </div>
                    <p style="color: white">
                        Salut à toute ma famille télégramme 🤝

                        <br><br> je tiens juste à vous éclaircir sur les soit disant créateur de *COMPTE RUSSE*
                        faites très attention car ils vont vous anarquer, soyez aussi intelligent. 1xbet a les même matchs dans tout les pays où il est, pourquoi ne pas aussi parlé de 1xbet CAMEROUN, 1xbet BENIN, 1xbet CÔTE D'IVOIRE  etc ...

                        <br><br> Donc la famille si vous êtes dans mon canal, soyez sage et barons ensemble la voie à tous ces anarquers ❌
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="latest-news">
        <div class="container">
            <div class="row">
                <div class="col-12 title-section">
                    <h2 class="heading">1xbet Sur Iphone</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 title-section">
                    <iframe class="col-12 title-section" height="400" src="{{ asset('./assets/videos/vpromo_2.mp4') }}"  frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="latest-news">
        <div class="container">
            <div class="row">
                <div class="col-12 title-section">
                    <h2 class="heading"><p style="color:yellow">BETWINNER</p>Code PEKAKO</h2>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-md-5">
                    <div class="post-entry">
                        <a href="#">
                            <img src="{{ asset('./assets/images/promo_3.jpg') }} " alt="Image" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5">
                    <div class="post-entry">
                        <a href="#">
                            <img src="{{ asset('./assets/images/promo_4.jpg') }} " alt="Image" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="col-md-1"> </div>
            </div>
            <p style="color: white">
                <br>Inscrivez-vous sur le Site BET WINNER et reçevez un fantastique bonus de 200 % sur votre premier dépôt avec le code promo : PEKAKO en majuscule
                Liens du site 👉👉<a href="https://bwredir.com/1bY0?p=/user/registration/">Inscription</a>

                <br><br>Code promo = <a href="#">PEKAKO</a> en majuscule.

                <br><br>Liens pour télécharger l'application <a href="https://bwredir.com/1jlk">👉BET WINNER.</a>
            </p>

        </div>
    </div>
    <!-- .site-section -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="widget mb-4">
                        <h3>Informations</h3>
                        <ul class="list-unstyled links">
                            <li><a href="#">Bonus</a></li>
                            <li><a href="#">Cadeaux</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="widget mb-4">
                        <h3>Compétitions</h3>
                        <ul class="list-unstyled links">
                            <li><a href="#">Football</a></li>
                            <li><a href="#">Basket-Ball</a></li>
                            <li><a href="#">Tennis</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="widget mb-4">
                        <h3>Réseaux Sociaux</h3>
                        <ul class="list-unstyled links">
                            <li><a href="https://wa.me/237655572635">Wathsapp</a></li>
                            <li><a href="https://www.facebook.com/keane.pekeko">Facebook</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Telegram</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <div class=" pt-5">
                        <p>
                            Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script> Tous droits reservés | <a href="#" target="_blank">Marc Analytica</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<script src="{{ asset('./assets/js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ asset('./assets/js/jquery-migrate-3.0.1.min.js') }}"></script>
<script src="{{ asset('./assets/js/jquery-ui.js') }}"></script>
<script src="{{ asset('./assets/js/popper.min.js') }}"></script>
<script src="{{ asset('./assets/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('./assets/js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('./assets/js/jquery.stellar.min.js') }}"></script>
<script src="{{ asset('./assets/js/jquery.countdown.min.js') }}"></script>
<script src="{{ asset('./assets/js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ asset('./assets/js/jquery.easing.1.3.js')}}"></script>
<script src="{{ asset('./assets/js/aos.js') }}"></script>
<script src="{{ asset('./assets/js/jquery.fancybox.min.js') }}"></script>
<script src="{{ asset('./assets/js/jquery.sticky.js') }}"></script>
<script src="{{ asset('./assets/js/jquery.mb.YTPlayer.min.js') }}"></script>


<script src="{{ asset('./assets/js/main.js') }}"></script>

</body>

</html>